// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$black: #000000;
$blue: #0850db;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Dimension Queries

$mobile-md: "only screen and (max-width : 480px)";

// Color Arrays

$color-offerings: #ad5df6, #7cf892, #ff76dd, #fafbff, #ffaa57, #9fffe4, #00b0ff;

// Enable Shadows

$enable-shadows: true;