// Fonts
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('/fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('/fonts/montserrat-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/montserrat-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/montserrat-v12-latin-800.woff') format('woff'), /* Modern Browsers */
  url('/fonts/montserrat-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/montserrat-v12-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  margin-bottom: 180px;
  padding-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 165px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.footer a {
  color: white !important;
}

blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
  color: #e0e0e0 !important;
}

h2 {
  font-weight: 700;
  font-size: 4.5em;
  @media #{$mobile-xs} {
    font-size: 34px;
  }
}

h3 {
  font-weight: 700;
  font-size: 3em;
  @media #{$mobile-xs} {
    font-size: 22px;
  }
}

.navbar {
  background-color: $white;
  z-index: 999;
  /*
  -webkit-box-shadow: 0 0 6px  #c9c9c9;
  -moz-box-shadow: 0 0 6px #c9c9c9;
  box-shadow: 0 0 6px  #c9c9c9;
  */
}

.navbar-brand {
  font-weight: 700;
}

#o-paint {
  background-image: url("/img/o-paint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px 400px;
  margin-top: 150px;
  margin-bottom: 150px;
  overflow: hidden;
}

#o-yt-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 150px;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  z-index: 2;
}

#o-yt-middle {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 998;
  background: white;
  border-radius: 70px;
  -webkit-box-shadow: 0 0 41px 0 #0000002e;
  -moz-box-shadow: 0 0 41px 0 #0000002e;
  box-shadow: 0 0 41px 0 #0000002e;
}

#o-yt-wall {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 998;
}

#o-yt-line {
  background: #000;
  width: 300px;
  height: 10px;
  margin-top: -80px;
}

.home-block {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bg-black {
  background-color: $black;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  color: $blue;
}

.btn-offerings {
  border-radius: 5px;
  border-width: 2px;
}

@for $i from 1 through length($color-offerings) {
  .btn-offerings:nth-child(#{length($color-offerings)}n+#{$i}) {
    &:hover {
      background: nth($color-offerings, $i);
      border-color: nth($color-offerings, $i);
    }
  }
}

#o-yt-ring {
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.o-yt-controls {
  cursor: pointer;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

.scroll-wrapper {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  padding-bottom: 10px;
  font-size: 20px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  @media #{$mobile-xs} {
    height: 40px;
  }
}

.scroll-wrapper a {
  cursor: pointer;
  text-decoration: none !important;
}

.scroll-wrapper a p {
  margin-bottom: 0;
  cursor: pointer;
}

.scroll-wrapper a i {
  cursor: pointer;
}

@keyframes bounceIn {
  0%, 30%, 50%, 65%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-15px);
  }
  55% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounceIn 4s infinite 3s;
}

.work-img-top {
  opacity: 1;
  transition: opacity 1s;
  &:hover {
    opacity: 0;
  }
}

.card-work {
  cursor: pointer;
  border-width: 0;
}

.btn-card-work {
  background-color: #ffffff;
  text-align: left;
  position: absolute;
  z-index: 2;
  width: calc(100% - 40px);
  margin: 20px;
  font-weight: 700;
  font-size: 30px;
  border: solid 5px;
}

.card-work:hover .btn-card-work {
  background-color: transparent !important;
  color: white;
  border-color: white;
}

.card-work:hover .work-img-top {
  opacity: 0;
}

.card-blog-lg {
  border: 0;
  max-height: 350px;
  overflow: hidden;
}

.card-blog-lg-img {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 100%;
}

.card-blog .card-text {
  font-size: 1.2em;
}

.btn-card-blog-rm {
  font-weight: 700;
  font-size: 25px;
  border: solid 5px;
}

.card-blog-sm {
  border: 0;
}

.card-blog a {
  color: inherit
}

.card-title {

}

.card-blog-sm .card-title {
  font-size: 2.5em;
}

.bg-muted {
  background-color: #f9f9f9;
}

.subtle-link {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid grey;
  &:hover {
    text-decoration: none !important;
    opacity: 0.75;
  }
}

.blog-content p {
  font-size:1.8rem !important;
}
.blog-content h3 {
  font-size:3rem !important;
}
.blog-content h4 {
  font-size:2.5rem !important;
}